@import "../../Styles/mixins";
@import "../../Styles/variables";

.projectsPage {
    padding: 1em;    
    margin: 1em;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: .3em 0;
    
    &:hover {
        background-color: $tertiary-background;
        opacity: 0.5;
    }
}

.projectPanel {
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;

    @include for-tablet-landscape-down {
        flex-direction: column;
    }
}

.projectList {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.projectDetails {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-height: 50%;
    background-color: $tertiary-background;
}

.card {
    @include make-card(1.5em);
}

// div {
//     outline: solid 1px white;
// }