@import "../../Styles/mixins";
@import "../../Styles/variables";

.projectsPage {
    min-height: calc(100vh - 2em);
    width: 100%;
}

.projectPanel {
    margin: 1.5em;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: .3em 0;
    
    &:hover {
        background-color: $tertiary-background;
        opacity: 0.5;
    }
}

.card {
    display: flex;
    flex-direction: column;
    @include make-card(1.5em);
}