@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  100% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
            animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  100% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
            animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
}

@-webkit-keyframes growWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes growWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.profilePage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding: 1.5em;
  min-height: calc(100vh - 2em);
}

.name {
  display: block;
  font-size: 1em;
  padding: 0.5em 0;
  margin-right: auto;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
}

@media (max-width: 900px) {
  .panel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.spriteImg {
  max-height: 600px;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 900px) {
  .spriteImg {
    max-height: 400px;
  }
}

.card {
  -webkit-transition: height 1s ease-out;
  transition: height 1s ease-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em;
  background-color: #353535;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .card {
    width: calc(100% - 3em);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cardShrink {
  -webkit-transition: height 1s ease-out;
  transition: height 1s ease-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5em;
  background-color: #353535;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .cardShrink {
    width: calc(100% - 3em);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
}

.character {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  font-size: 2em;
  padding-bottom: 1em;
  text-align: center;
}

.hp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 0;
}

.hp span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1em;
  background-color: #ff2f2f;
  border-radius: 3px;
}

.mp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em 0;
}

.mp span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1em;
  background-color: #3a3ae1;
  border-radius: 3px;
}

.level {
  background-color: #919191;
  border-radius: 5px;
  padding: 0 0.3em;
  margin-right: 0.2em;
}

.charClass {
  font-size: 1em;
  padding-top: 0.5em;
}

.charInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

form {
  display: -ms-grid;
  display: grid;
  width: 100%;
  max-width: 1200px;
  padding-bottom: 2em;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  row-gap: 0.3em;
}

@media (max-width: 900px) {
  form {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

form .line {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ()[auto-fit];
      grid-template-columns: repeat(auto-fit);
  padding: 0.5em;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .line label {
  padding-bottom: 0.5em;
}

form input {
  font-size: 0.8em;
  background-color: #484848;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  padding: 0.2em 0.5em;
}

form input:focus {
  outline: #9b9b9b solid 2px;
  color: #9b9b9b;
}

@media (min-width: 1200px) {
  form input {
    font-size: 1em;
  }
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.skillBars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skillBarContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.skillBarWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em 0;
}

.skillBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: growWidth 2s ease-in-out;
          animation: growWidth 2s ease-in-out;
  height: 10px;
  width: 100%;
}

.status {
  width: 100%;
}
/*# sourceMappingURL=styles.module.css.map */