button {
    background: none;
    color: inherit;
    border: none;
    padding: 0 1em;
    &:hover {
        opacity: 0.4;
        cursor: pointer;
        transform:  scale(1.4)
    }
    transition: ease 0.4s;
}

.typer {
    width: 13ch;
    animation: typing 6s steps(14) infinite, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

@keyframes typing {
    from {
        width: 0
    }

    30% {
        width: 100%
    }

    50% {
        width: 100%
    }

    to {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}