@import "./typography";
@import "./mixins";
@import "./variables";

body {
    font-family: $main-font, Serif;
    color: $text-color;
    background-color: $background;
    margin: 0;
}

.App {
    display: flex;
    padding: 0;
    margin: 0;
    overflow: hidden;

    @include for-phone-only {
        flex-direction: column;
    }

    ::-moz-selection {
        background: #AFAFAF;
    }
    
    ::-webkit-selection {
        background: #AFAFAF;
    }
    
    ::selection {
        background: #AFAFAF;
    }
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 1em;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}