@import "./typography";
@import "./mixins";
@import "./variables";

body {
    font-family: $header-font, Serif;
    color: $text-color;
    background-color: $background;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: row;
    gap: 2em;
}