@import "./typography";
@import "./mixins";
@import "./variables";

body {
    font-family: $main-font, Serif;
    color: $text-color;
    background-color: $background;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.work-in-progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
}