@import '../../Styles/variables';
@import '../../Styles/typography';
@import "../../Styles/mixins";

.japanese {
    font-size: 1em;
    padding: 0;
    font-weight: bold;
}

.icon {
    color: $text-color;
    opacity: 0.4;
}

.english {
    font-size: 1em;
    padding: 0;
}

.name {
    font-size: clamp(1rem,
        8vw,
        4rem);;
    padding: 0;
    margin: 0;
}

.software-developer {
    word-wrap: none;
    font-size: clamp(1rem,
    8vw,
    4rem);
    color: $secondary-text;
    padding: 0;
    margin: 0;
}

.char {
    display: inline-flex;
    transition: all 0.2s;
    &:hover {
        transform: scale(1.3);
    }
}

.intro {
    display: flex;
    gap: 0.5em;
    width: 50%;
    flex-grow: 2;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: flex-start;
    font-family: $header-font;
    padding-left: 5%;

    @include for-desktop-down {
        justify-content: center;
        align-items: center;
    };
}

.graphic {
    @include for-desktop-down {
        display: none;
    };

    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50%;
}

.top-line {
    width: 50%;
    height: 30%;
    border-right: solid 6px white;
}

.bottom-line {
    flex-grow: 1;
    width: 50%;
    border-right: solid 6px white;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 15vw;
    width: 15vw;
    border: solid 6px white;
    border-radius: 50%;
}

.home-page {
    display: flex;
    width: 100%;
    padding: 0;
    margin: 0;
}


.svg-text {
    font-size: 1px;
}

.svg-top-line {
    animation: dropLine 0.5s ease forwards;
    transform: translateY(-50%)
}

.svg-circle {
        stroke-dasharray: 95;
        stroke-dashoffset: 95;
        animation: rotate 1s linear forwards 0.5s;
        transform: rotate(268deg);
        transform-box: fill-box;
        transform-origin: center;
}

.svg-bottom-line {
    animation: dropLine2 1s ease forwards 1.5s;
    transform: translateY(100%)
}

@keyframes dropLine {
    to {
        transform: translateY(0)
    }
};

@keyframes dropLine2 {   
    to {
        transform: translateY(0)
    }
};

@keyframes rotate {
    from {
        stroke-dashoffset: 95;
    }
    to {
        stroke-dashoffset: 0;
    }
}