@import '../../Styles/variables';

nav {
    height: 100vh;
    background-color: $nav-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style-type: none;    
}

.links {
    color:  white;
    padding: 1em;
    &:hover {
        opacity: 0.6;
    }
}